/* fonts */
@font-face{
    font-family: mapleBold;
    src: url(fonts/mapleBold.ttf);}
@font-face{
    font-family: mapleLight;
    src: url(fonts/mapleLight.ttf);}
@font-face{
    font-family: medusa;
    src: url(fonts/medusa.ttf);}
@font-face{
    font-family: antipasto;
    src: url(fonts/antipasto.ttf);}


/* #ffdab9 */


a{
    color:red;
    text-decoration: none;  
}



ul{
    text-align: center;
}
li {
    margin: 0 50px 0 0;
    font-size: 25px;
    font-family: medusa;
    list-style-type: none;
    display: inline;
    
}

#contactFlexBox{
    position: relative;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

#contactFlexBox > a > div {
    border: 1px solid white;
    width: 300px;
    height: 80px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #191919;
}

#contactFlexBox > a > div:hover {
    background-color: red;
}

.contactFlexBoxIcon{
    width: 100px;
    height: 100%;
    float:left;
}

.contactFlexBoxContent{
    width: 200px;
    float: left;
}

#contactFlexBox > li{
    margin: 0px;
}

h1{
    font-family: medusa;
    font-size: 20px;
    margin: 15px 0 0 0;
}

i{
    font-size: 70px;
    color: white;
}